.header {
    background-color: var(--light-cream);
    position: relative;
    padding-bottom: 2.5rem;
}

.navbar {
    display: flex;
    flex-direction: column
}

.navWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.mobileNav {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 98;
    top: -100vh;
    left: 0;
    transition: .5s ease-in-out;
    /* background-color: var(--light-cream); */
    background: -moz-linear-gradient(top, rgba(254, 252, 247, 1) 51vh, rgba(254, 252, 247, 0.7) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(254, 252, 247, 1) 51vh, rgba(254, 252, 247, 0.7) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(254, 252, 247, 1) 51vh, rgba(254, 252, 247, 0.7) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
    /* IE6-9 */
}


.mobileNav.active {
    top: 0;

}

.mobileNav button {
    width: 100%;
}

.mobileNavWrapper {
    position: relative;
    height: inherit;
    padding: var(--topPadding) var(--sidePadding) 0 var(--sidePadding);

    display: flex;
    flex-direction: column;
}


.mobileLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 5rem;

}


.mobileLink {
    color: var(--secondary-color);
    font-family: 'FrauncesBlack';
    text-decoration: none;
    line-height: 2rem;
    font-size: 1.5rem;
}


.logoImg {
    width: 10.188rem;
    object-fit: contain;
    height: auto;
}


.navbar li {
    list-style: none;
}

/* Hamburger menu */
.hamburger {
    position: relative;
    display: block;
    width: 1rem;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 99;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--secondary-color);
    margin: 3px 0;
    transition: .4s;

}

.hamburger.isActive:before {
    transform: rotate(-45deg) translate(-2px, 4px);
    background-color: var(--secondary-color);

}

.hamburger.isActive .bar {
    opacity: 0;
}

.hamburger.isActive:after {
    background-color: var(--secondary-color);
    transform: rotate(45deg) translate(-4px, -7px);
}


@media (min-width: 768px) {

    .hamburger {
        display: none;
    }

    .navLink {
        display: flex;
        gap: 2rem;
    }

    .link {
        font-size: .75rem;
        font-family: 'BarlowBold';
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: .92px;
        color: var(--grey);
        line-height: .938rem;

    }



    .navWrapper {
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }

    .logoImg {
        width: unset;
    }
}


@media (min-width: 1440px) {

    .header {
        padding-bottom: 2.715rem;
    }

    .link:hover {
        color: var(--light-grey);
    }
}