.qcmContainer {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}


@media screen and (min-width: 1440px) {
    .container {
        display: grid;
        grid-template-columns: min-content 1fr;
        padding-left: 5.313rem;
        padding-right: 5.313rem;
        gap: 5.5rem;
    }

    .qcmContainer {
        display: flex;
        flex-direction: column;
        gap: 5.5rem;
    }
}