.qcmContainer {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 7.5rem;
}

@media screen and (min-width: 1440px) {
    .container {
        display: grid;
        grid-template-areas:
            'navigation qcmContainer'
            '. summary';
        grid-template-columns: min-content 1fr;

        padding-left: 5.313rem;
        padding-right: 5.313rem;
        gap: 7.8125rem;
    }

    .qcmContainer {
        display: flex;
        flex-direction: column;
        gap: 5.5rem;
        grid-area: qcmContainer;
    }



}